@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	letter-spacing: -0.03em;
	font-family: 'Noto Sans KR', sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

header {
	width: 100%;
	height: 66px;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 20px;
	transition: box-shadow 0.4s;
	z-index: 1000;
}

h1 {
	float: left;
	margin-top: 14px;
}

h1 img {width: 165px;}

#ham {
	float: right;
	width: 40px;
	height: 40px;
	margin-top: 13px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

#ham>div {
	width: 28px;
	height: 3px;
	background-color: #333;
	margin: 5px auto;
}

.shadow {
	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

#gnb {
	background-color: #da291c;
	height: 75px;
	line-height: 75px;
	padding: 0 18px;
	font-size: 0.9em;
	font-weight: 400;
}

#gnb a {
	color: #fff;
	
}

#gnb span {
	display: inline-block;
	width: 1px;
	height: 10px;
	background-color: rgba(255,255,255,0.5); 
	margin: 0 2px;
}

#mclose {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	float: right;
	margin-top: 23px;
}

#mclose::before {
	content: "";
	width: 2px;
	height: 28px;
	background-color: #fff;
	margin-right: -2px;
	display: inline-block;
	transform: rotate(45deg);
}

#mclose::after {
	content: "";
	width: 2px;
	height: 28px;
	background-color: #fff;
	display: inline-block;
	transform: rotate(-45deg);
}

#mmenu {
	position: fixed;
	width: 290px;
	height: 100%;
	right: -290px;
	background-color: #fff;
	z-index: 10000;
}

#mmenutop {
	height: calc(100% - 110px);
	overflow: auto;
}

#lnb {
	padding: 15px;
}

.mmain {
	border-bottom: 1px solid #ddd;
}

.mmain>a:hover {
	color: #da291c;
}

.mmain>a {
	display: block;
	font-weight: bold;
	color: #444;
	font-size: 0.95em;
	padding: 0.7em 1em;
}

.accbtn {
	float: right;
	position: relative;
	width: 20px;
	height: 20px;
}

.accbtn:hover::before, .accbtn:hover::after{
	background-color: #555;
}

.accbtn::before, .accbtn::after {
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 2px;
	left: 50%;
	top: 50%;
	background-color: #aaa;
	transition: transform 0.4s;
}

.accbtn::before {
	transform: translate(-50%, -50%) rotate(90deg);
}

.accbtn::after {
	transform: translate(-50%, -50%) rotate(0deg);
}

.rotate::before {
	transform: translate(-50%, -50%) rotate(135deg);
}

.rotate::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.msub {
	display: none;
	width: calc(100% - 30px);
	margin: 0 auto;
	border-top: 1px dotted #ddd;
	padding: 0.6em 0;
}

.msub>li>a, .mssub>li>a {
	font-size: 0.87em;
	color: #555;
	display: block;
	padding: 0.3em 0.9em;
}

.msub>li>a:hover, .mssub>li>a:hover {
	color: #da291c;
}

.mssub {
	display: block;
	padding: 0.4em 1em;
}

.mssub a::before {
	content: "- ";
}


#mmenubot {
	height: 110px;
	border-top: 1px solid #cdcdcd;
	position: relative;
}

#mmenubot>a {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 0.85em;
	font-weight: 700;
	background-color: #da291c;
	padding: 0.85em 1.8em;
}

#mback {
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

section {
	margin-top: 66px;
}

.px {
	padding-left: 20px;
	padding-right: 20px;
}


h3 {
	font-size: 2em;
	text-align: center;
	margin-top: 1.8em;
	margin-bottom: 0.8em;
}

h3::before {
	content: "";
	height: 25px;
	width: 0.5px;
	background-color: #000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -30px;
}

.h3sub {
	text-align: center;
	font-size: 0.95em;
	letter-spacing: -0.03em;
	line-height: 1.9em;
	margin-bottom: 60px;
}


#top_btn {
	width: 42px;
	height: 42px;
	border-radius: 4px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: none;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

#top_btn::before {
	content: "";
	display: block;
	width: 2px;
	height: 12px;
	background-color: #ccc;
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-40%, -50%) rotate(45deg);
}

#top_btn::after {
	content: "";
	display: block;
	width: 2px;
	height: 12px;
	background-color: #ccc;
	position: absolute;
	left: 60%;
	top: 50%;
	transform: translate(-60%, -50%) rotate(-45deg);
}


#flink {
	border-top: 1px solid #ddd;
}
#flink>a {
	width: 50%;
	height: 48px;
	display: block;
	float: left;
	text-align: center;
	font-size: 0.9em;
	border-bottom: 1px solid #ddd;
	line-height: 48px;
}

#flink>a:nth-of-type(odd) {
	border-right: 1px solid #ddd;
}

#flink>a:hover {
	text-decoration: underline;
}

#lotte_family {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eee;
}

#family_site {
	width: 195px;
	height: 60px;
	color: #666;
	border: none;
	font-size: 0.95em;
	position: relative;
	background: url(../images/family_ic.png) no-repeat right center;
	appearance: none;
	cursor: pointer;
	padding-left: 10px;
	vertical-align: bottom;
	white-space: nowrap;
}

#family_site::-ms-expand {
	display: none;
/*	ex에서 select 꾸밈 삭제*/
}


#fbottom {
	padding-top: 35px;
	padding-bottom: 55px;
}

#f_logo {
	text-align: center;
}

#address_box {
	width: calc(100% - 60px);
	margin: 0 auto;
}

.address {
	position: relative;
	font-size: 0.85em;
	color: #666;
	padding-bottom: 5px;
	padding-left: 80px;
	
}

.fbold{
	position: absolute;
	font-size: 0.85em;
	font-weight: 500;
	color: #000;
}

#copyright {
	font-size: 0.8em;
	color: #999;
	padding-top: 20px;
	text-align: center;
}



#h2box {
	background-image: url(../images/vis_company.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	position: relative;
}

h2 {
	position: absolute;
	left: 20px;
	bottom: 40px;
	font-size: 2.5em;
	color: #fff;
	letter-spacing: -0.04em;
}


#breadcrumb {
	height: 50px;
}

.homebtn {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #da291c;
	text-align: center;
}

.homebtn::before{
	content: "";
	display: block;
	width: 20px;
	height: 17px;
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../images/ic_home.png);
	background-position: center;
}

.depth {
	width: calc((100% - 50px) / 2);
	height: 50px;
	float: left;
}

.depbtn {
	line-height: 50px;
	font-size: 0.95em;
	color: #333;
	padding: 0 20px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	position: relative;
	cursor: pointer;
}

.depbtn::after {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	line-height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	background-image: url(../images/ic_bnav_open.png);
	background-position: center;
}


.dep2btn {
	border-right: none;
}

.depsub {
	background-color: #da291c;
	position: relative;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	z-index: 100;
}

.depsub>a {
	display: block;
	padding: 15px 20px;
	font-size: 0.8em;
	color: #fff;
	transition: all 0.5s;
}


.depsub>a:hover {
	background-color: #a4180e;
}

.dactive .depsub {
	visibility: visible;
	opacity: 1;
}

.sub_area {
	padding: 50px 0;
}











@media all and (max-width: 320px) {
	
	h3 {
		font-size: 1.5em;
	}
	
	.h3sub {
		font-size: 0.85em;
		word-break: keep-all;
		margin: 0 auto;
		width: 280px;
		margin-bottom: 40px;
	}
	
	#address_box {
		width: calc(100% - 40px);
	}
	
	.address {
		font-size: 0.8em;
	}

	.fbold{
		font-size: 0.8em;
	}

	#copyright {
		font-size: 0.75em;
	}
	
	#h2box {
		height: 200px;
	}
	
	h2 {
		position: absolute;
	
		bottom: 30px;
		font-size: 2.1em;

	}
	
	h1 img {
		width: 130px;
	}
	
	header {
		max-width: 320px;
	}
	
	.depbtn {
		font-size: 0.85em;
		padding: 0 15px;
	}

	.depbtn::after {
		right: 10px;
	}

	
	
	
	
	
	
}






