#splash {
	position: fixed;
	z-index: 100000;
	background-color: #fff;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#splash>div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#splash>div>img {
	width: 200px;
}

#loading {
	margin-top: 20px;
	text-align: center;
}

@keyframes twinkle {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#loading>div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #da291c;
	display: inline-block;
	margin: 0 7px;
	animation: twinkle 0.45s linear infinite alternate;
}

#loading>div:nth-of-type(1) {
	animation-delay: 0
}
#loading>div:nth-of-type(2) {
	animation-delay: 0.3s;
}
#loading>div:nth-of-type(3) {
	animation-delay: 0.6s;
}

#mainVisual {
	padding-bottom: 110px;
	border-bottom: 1px dashed #ddd;
}

.textBox {
	margin: 30px 0;
	text-align: center;
}

.slideBig {
	font-size: 2.8em;
	font-weight: 700;
	line-height: 1.1em;
	letter-spacing: -0.04em;
	margin-bottom: 0.5em;
}

.slideBig>span {
	color: #da291c;
}

.slideSmall {
	font-size: 1.05em;
	letter-spacing: -0.04em;
}

.slide>img {
/*	width: calc(100% - 40px);*/
	display: block;
	margin: auto; 
/*	이미지는 원래 가로 길이가 있어서 마진 오토 가능*/
}


.slick-arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 70px;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.slick-prev {
	background-image: url(../images/vis_prev_off.png);
	background-size: cover;
	margin-left: -30px;
	z-index: 2;
}

.slick-next {
	background-image: url(../images/vis_next_off.png);
	background-size: cover;
	margin-left: 30px;
}

.slick-prev:hover {
	background-image: url(../images/vis_prev_on.png);
	transition: all 0.4s;
}

.slick-next:hover {
	background-image: url(../images/vis_next_on.png);
	transition: all 0.4s;
}

h3::before {
	content: none;
/*	존재가 없음 */
}

.cen_600 {
	max-width: 600px;
	margin: auto;
	overflow: auto;
}

.numinfo {
	float: left;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.numinfo p {
	padding-bottom: 0.9em;
	border-bottom: 2px solid #000;
	margin-bottom: 0.9em;
}

.numinfo>div {
	font-size: 1.5em;
} 

.count {
	font-size: 2.1em;
	font-weight: bold;
}


.product {
	background-image: url(../images/pdt_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.pdtbox {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	border-bottom: 0.5px solid rgba(255,255,255,0.5);
}

/*
.pdtbox:last-child {
	border-bottom: none;
}
*/

.pdtbox:hover {
	background-color: rgba(0,0,0,0.3);
	transition: all 0.5s;
}

h4 {
	font-size: 1.5em;
    padding-bottom: 20px;
    margin-top: 6px;
	color: #fff;
}

.slim {
	font-weight: 100;
}

.p_money {
	font-size: 2.5em;
	font-weight: 400;
	letter-spacing: -0.03em;
	color: #fff;
}

.p_text {
	color: #fff;
	padding-bottom: 10px;
	
}

.pdtbox>a>img:first-of-type {
	width: 90px;
}

.pdtbox>a>img:last-of-type {
	width: 50px;
}


.cen_600 {
	margin-bottom: 70px;
}

.sustainability {
	background-image: url(../images/csm_bg.png);
	background-size: cover;
	text-align: center;
	color: #fff;
	padding: 80px 20px 60px 20px;
	
}

.s_text2 {
	margin-bottom: 20px;
}

.s_title {
	font-size: 1.13em; 
	padding-bottom: 25px;
}

.s_text {
	font-size: 1.25em; 
	line-height: 1.5em;
	margin-bottom: 2em;
}

.s_big {
	font-size: 2.25em;
	font-weight: 700;
}

.s_mid {
	font-size: 1.2em;
	font-weight: 100;
	padding-bottom: 20px;
	
}

.susbox {
	padding: 20px;
	position: relative;
}



.ic_h::after {
	content: "";
	background-image: url(../images/ic_h.png);
	background-size: cover;
	opacity: 0.5;
	width: 147px;
	height: 157px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -10px;
}

.ic_s::after {
	content: "";
	background-image: url(../images/ic_s.png);
	background-size: cover;
	opacity: 0.5;
	width: 147px;
	height: 157px;
	display: inline-block;
	position: absolute;
	right: 50%;
	top: -10px;
}


.ic_e::after {
	content: "";
	background-image: url(../images/ic_e.png);
	background-size: cover;
	opacity: 0.5;
	width: 147px;
	height: 157px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -10px;
}

.susbox>a::after {
	content: "";
	display: block;
	background-image: url(../images/susbox_plus_off.png);
	width: 50px;
	height: 50px;
	margin-left: 50%;
	transform: translateX(-50%);
	transition: all 0.5s;
}

.susbox>a:hover::after {
	background-image: url(../images/susbox_plus_on.png);
}

.of-auto {
	overflow: auto;
}

.float-left {
	float: left;
}

.pr_post {
	padding: 0 40px;
}

.postbox {
	padding: 25px 20px;
	display: block;
	border-top: 1px dashed #dddddd;
}

.pr_post>.postbox:last-of-type {
	border-bottom: 1px dashed #dddddd;
}


.pr_title {
	font-size: 1.25em;
	margin-bottom: 0.8em;
	word-break: keep-all;
}

.pr_text {
	color: #8e8e8e;
	font-size: 0.9em;
	margin-bottom: 0.5em;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.pr_date {
	font-size: 0.85em;
}

.postbox:hover {
	text-decoration: underline;
}

.ineos_history {
	padding: 0 20px;
}

.historybox {
	width: 100%;
	margin: auto;
	padding: 30px 20px;
	color: #fff;
}

.himg_1 {
	background-image: url(../images/prom_bg01.png);
	background-size: cover;
}

.himg_2 {
	background-image: url(../images/prom_bg02.png);
	background-size: cover;
}

.himg_3 {
	background-image: url(../images/prom_bg03.png);
	background-size: cover;
}

.h_title::before {
	content: "";
	display: block;
	width: 30px;
	height: 4px;
	background-color: #fff;
	margin-bottom: 0.5em;
}


.ineos_history {
	margin-top: 30px;
	margin-bottom: 40px;
	
}
.ineos_history>.historybox:first-of-type>.h_title::before {
	background-color: #da291c;
}


.h_title {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.3em;
}

.h_sub {
	padding-bottom: 0.8em;
	font-weight: 100;
}

.h_btn {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	font-weight: bold;
	letter-spacing: -0.03em;
	cursor: pointer;
}

.historybox .h_btn:nth-of-type(1) {
	margin-top: 5px;
}

.h_btn:hover {
	background-color: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0.7);
	transition: all 0.5s;
}

.h_btnimg::before{
	content: "";
	display: inline-block;
	background-image: url(../images/video_ic.png);
	width: 30px;
	height: 30px;
	position: relative;
	top: 8px;
	right: 7px;
}

.disclosure_info {
	background-image: url(../images/invest_bg.png);
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 60px;
	text-align: center;
}

.d_title {
	font-size: 1.3em;
	font-weight: 700;
	border-bottom: 2px solid #da291c;
	margin-bottom: 30px;
	display: inline-block;
	
}

.d_sub {
	font-size: 1.75em;
	font-weight: 100;
	line-height: 1.3em;
	padding-bottom: 30px;
}

.d_strong {
	font-weight: 700;
}

.d_quick {
	width: 180px;
	height: 47px;
	line-height: 46px;
	border-radius: 24px;
	border: none;
	background-color: #da291c;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	letter-spacing: -0.05em;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	cursor: pointer;
	
}

.d_quick::after {
	content: "";
	background-image: url(../images/people_ar_hover.png);
	display: inline-block;
	width: 20px;
	height: 13px;
	margin-left: 15px;
}

.d_quick:hover {
	text-decoration: underline;
}

.ineose_people {
	padding: 90px 20px 70px 20px;
	background-image: url(../images/people_bg.png);
	background-size: cover;
	background-position: center;
}

.people_top {
	text-align: center;
	width: 100%;
}

.people_top>img {
	max-width: 320px;
	padding: 0 20px;
}


.people_require {
	margin-top: 60px;
	overflow: auto;
	border-top: 1px solid #666;
	border-bottom: 1px solid #dbdbdb;
}

.requirebox {
	padding: 30px 20px;
	float: left;
	width: 50%;
/*	width: calc((100% - 50px;) / 2);*/
	position: relative;
	
}

.people_require>.requirebox:nth-of-type(1) {
	border-bottom: 1px solid #dbdbdb;
}


.people_require>.requirebox:nth-of-type(2) {
	border-bottom: 1px solid #dbdbdb;
}

.people_require>.requirebox:nth-of-type(1)::after {
	content: "";
	width: 1px;
	height: 150px;
	display: block;
	background-color: #dbdbdb;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}


.people_require>.requirebox:nth-of-type(3)::after {
	content: "";
	width: 1px;
	height: 150px;
	display: block;
	background-color: #dbdbdb;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.requirebox:hover.requirebox:nth-of-type(1)::after {
	display: none;
}

.requirebox:hover.requirebox:nth-of-type(3)::after {
	display: none;
}



.r_title {
	font-size: 1.4em;
	padding-bottom: 15px;
	font-weight: bold;
}

.r_text {
	font-size: 0.85em;
	height: 70px;
	word-break: keep-all;
}

.r_view {
	font-size: 0.75em;
	font-weight: 700;
}

.r_view::after {
	content: "";
	background-image: url(../images/people_ar.png);
	width: 20px;
	height: 13px;
	display: inline-block;
	margin-left: 90px;
}

.requirebox:hover {
	background-color: #da291c;
	transition: all 0.5s;
}

.requirebox:hover.requirebox>a>p {
	color: #fff;
	transition: all 0.5s;
}

.requirebox:hover .r_view::after {
	content: "";
	background-image: url(../images/people_ar_hover.png);
	width: 20px;
	height: 13px;
	display: inline-block;
	margin-left: 90px;
	transition: all 0.5s;
}



@media all and (max-width: 970px) {
	.slide>img {
		width: 410px;
	}
}

@media all and (max-width: 640px) {
	.slide>img {
		width: 380px;
	}
}

@media all and (max-width: 480px) {
	.slide>img {
		width: 300px;
	}
}

@media all and (max-width: 420px) {
	.hide_400 {
		display: none;
	}
	
	.slideSmall {
		word-break: keep-all;
	}
}

@media all and (max-width: 320px) {
	
	.slideBig {
		font-size: 1.9em;
	}
	
	.slideSmall {
		font-size: 0.95em;
	}
	
	.slide>img {
		width: 280px;
	}
	
	.slick-arrow {
		width: 40px;
		height: 40px;
	}	
	
	.slick-prev {
		margin-left: -26px;
		z-index: 2;
	}

	.slick-next {
		margin-left: 26px;
	}
	
	.hide_300 {
		display: none;
	}
	
	.numinfo {
		float: left;
		width: 100%;
	}

	.numinfo p {
		font-size: 0.95em;
		word-break: keep-all;
	}

	.numinfo>div {
		font-size: 1.2em;
	} 

	.count {
		font-size: 1.9em;
		font-weight: bold;
	}
	
	h4 {
		font-size: 1.35em;
	}

	.p_money {
		font-size: 2.25em;
	}

	.pdtbox>a>img:first-of-type {
		width: 80px;
	}

	.pdtbox>a>img:last-of-type {
		width: 50px;
	}
	
	.s_text2 {
		font-size: 0.95em;
		line-height: 1.7em;
	}

	.s_title {
		font-size: 1em; 
	}

	.s_text {
		font-size: 1.05em; 
		word-break: keep-all;
	}

	.s_big {
		font-size: 1.75em;
	}

	.s_mid {
		font-size: 1.05em;
		padding-bottom: 12px;
	}

	.susbox {
		padding: 20px;
		position: relative;
	}



	.ic_h::after {
		width: 127px;
		height: 136px;
		top: 0px;
	}

	.ic_s::after {
		width: 127px;
		height: 136px;
		top: 0px;
	}


	.ic_e::after {
		width: 127px;
		height: 136px;
		top: 0px;
	}
	
	.sustainability {
		padding-bottom: 40px;
	}
	
	
	.sustainability>.susbox:first-of-type {
		margin-top: 30px;
	}

	.pr_post {
		padding: 0 20px;
	}

	.postbox {
		padding: 25px 20px;
		display: block;
		border-top: 1px dashed #dddddd;
	}

	.pr_post>.postbox:last-of-type {
		border-bottom: 1px dashed #dddddd;
	}

	.pr_title {
		font-size: 1.05em;
	}

	.pr_text {
		font-size: 0.85em;
	}

	.ineos_history {
		padding: 0px;
		margin-bottom: 0px;
	}

	.historybox {
		width: 100%;
		margin: auto;
		padding: 30px 20px;
		color: #fff;
	}

	.h_title::before {
		height: 2px;
	}

	.h_title {
		font-size: 1.4em;
	}

	.h_sub {
		padding-bottom: 0.6em;
		font-size: 0.95em;
	}

	
	.d_title {
		font-size: 1.05em;
		margin-bottom: 20px;
	}

	.d_sub {
		font-size: 1.5em;
		line-height: 1.3em;
		padding-bottom: 22px;
	}

	.d_quick {
		height: 44px;
		line-height: 43px;
		border-radius: 22px;
		font-size: 0.85em;
	}

	.d_quick::after {
		margin-left: 20px;
	}


	.ineose_people {
		padding: 65px 20px 58px 20px;
	}

	.people_top>img {
		max-width: 280px;
		padding: 0px;
	}

	.people_require {
		margin-top: 60px;
		overflow: auto;
		border-top: 1px solid #666;
		border-bottom: 1px solid #dbdbdb;
	}

	.requirebox {
		width: 100%;
		border-bottom: 1px solid #dbdbdb;
	}

	.people_require>.requirebox:nth-of-type(1)::after {
		display: none;
	}

	.people_require>.requirebox:nth-of-type(3)::after {
		display: none;
	}

	.requirebox:hover.requirebox:nth-of-type(1)::after {
		display: none;
	}

	.requirebox:hover.requirebox:nth-of-type(3)::after {
		display: none;
	}

	.r_title {
		font-size: 1.1em;
	}

	.r_view::after {
		margin-left: 150px;
	}
	

	

}





















